// ==========================================================================
// Global Element Styles
// ==========================================================================
a.btn-primary:visited {
	color: #fff;
}
.well {
	border: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.footer-sidebar {
	ul, ol {
		margin: 0 0 1.5em 1.25em;
	}
}
