// ==========================================================================
// Site Layout
// ==========================================================================
.navbar-brand {
	padding: 0;
	img {
		@include vertical-align();
		margin-right: 15px;
	}
	.navbar-brand-text {
		padding: 15px;
	}
}
#footer {
	background-color: #333;
	& > .container {
		padding-top: 2em;
	}
}
