# gitignore
 
# WordPress
wp-content/uploads/*
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
sitemap.xml
sitemap.xml.gz
wp-config.php

# Apache
.htaccess
.htpasswd

# Node Modules
node_modules

# Sass
.sass-cache/

# Sublime Text
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-*.json

# Netbeans
nbproject

# Mac OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
__MACOSX
Thumbs.db
ehthumbs.db

# Linux OS
.swp.*
*.swp.*
*.swp

# Misc
*.sql
*.log
*.tar
*.gz
*.zip
*.old
*_old
*.bak
*_bak
